.print-container {
    padding: 20px;
  }
  
  .print-container h2 {
    text-align: center;
  }
  
  .print-container p {
    margin: 5px 0;
  }
  
  .file-container {
    margin: 20px 0;
    border: 1px solid #ccc;
    padding: 10px;
  }
  
  iframe {
    border: none;
    background: #fff;
  }
  
  /* Styles for printing */
  @media print {
    .buttons {
      display: none; /* Hide buttons during printing */
    }
  
    .print-container {
      margin: 0;
      padding: 0;
      width: 100%;
    }
  }
